<div class="Box">
    <div>
        <%- include('cell',{value: table[0], id: ids[0], disable: disable}) %>
        <%- include('cell',{value: table[1], id: ids[1], disable: disable}) %>
        <%- include('cell',{value: table[2], id: ids[2], disable: disable}) %>
    </div>
    <div>
        <%- include('cell',{value: table[3], id: ids[3], disable: disable}) %>
        <%- include('cell',{value: table[4], id: ids[4], disable: disable}) %>
        <%- include('cell',{value: table[5], id: ids[5], disable: disable}) %>
    </div>
    <div>
        <%- include('cell',{value: table[6], id: ids[6], disable: disable}) %>
        <%- include('cell',{value: table[7], id: ids[7], disable: disable}) %>
        <%- include('cell',{value: table[8], id: ids[8], disable: disable}) %>
    </div>
</div>