<div class="Sudoku">
    <div>
        <%- include('box',{table: table[0], ids: ids[0], disable: disable}) %>
        <%- include('box',{table: table[1], ids: ids[1], disable: disable}) %>
        <%- include('box',{table: table[2], ids: ids[2], disable: disable}) %>
    </div>
    <div>
        <%- include('box',{table: table[3], ids: ids[3], disable: disable}) %>
        <%- include('box',{table: table[4], ids: ids[4], disable: disable}) %>
        <%- include('box',{table: table[5], ids: ids[5], disable: disable}) %>
    </div>
    <div>
        <%- include('box',{table: table[6], ids: ids[6], disable: disable}) %>
        <%- include('box',{table: table[7], ids: ids[7], disable: disable}) %>
        <%- include('box',{table: table[8], ids: ids[8], disable: disable}) %>
    </div>
</div>